<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Data Table</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

<!-- Icon -->
<link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
<link rel="manifest" href="../static/vendor/site.webmanifest">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="../static/vendor/venobox/venobox.css" rel="stylesheet">
<link href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">


  <!-- High Charts-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script> -->

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.1.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <a href="/"> <img src="../static/images/olympic_icon.png"></a>


        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li class="active"><a href="/#summary">Summary</a></li>
          <li class="active"><a href="/#visuals">Visuals</a></li>
          <li class="drop-down"><a href="">Comparison</a>
            <ul>
              <li><a href="gender.html">Gender</a></li>
              <li><a href="medals.html">Medals</a></li>
              <li><a href="sports.html">Sports</a></li>
            </ul>
          </li>
          <li class="active"><a href="athletesdata.html">Data</a></li>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">


    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Filter the table below to explore the data.</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Data</li>
          </ol>
        </div>
        <div class="container">
          <div class="row margin-top-50">
            <div class="col-md-2">
              <aside class="filters">
                <div class="panel panel-default">
                  <div class="panel-heading">Filter Search</div>
                  <div class="panel-body">
                    <form>
                      <div class="form-group">
                        <ul class="list-group" id="filters">
                          <li class="filter list-group-item">
                            <label for="date">Enter a Year</label>
                            <input class="form-control" id="datetime" type="text" placeholder="2016">
                          </li>
                        </ul>
                      </div>
                      <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
                    </form>
                  </div>
                </div>
              </aside>
            </div>
            <div class="col-md-10">
              <div id="table-area" class="">
                <table id="data-table" class="table table-striped">
                  <thead>
                    <tr>
                      <th class="table-head">NOC</th>
                      <th class="table-head">Country</th>
                      <th class="table-head">ID</th>
                      <th class="table-head">Name</th>
                      <th class="table-head">Sex</th>
                      <th class="table-head">Age</th>
                      <th class="table-head">Year</th>
                      <th class="table-head">Season</th>
                      <th class="table-head">City</th>
                      <th class="table-head">Sport</th>
                      <th class="table-head">Event</th>
                      <th class="table-head">Medal</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section><!-- End Breadcrumbs -->

 
   

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

  <div class="mr-md-auto text-center text-md-left">
    <div class="copyright">
      Charts and Analysis by the Lofty Flying Llamas<br/>
      &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
  <div class="social-links text-center text-md-right pt-3 pt-md-0">
    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
  </div>
</div>
</footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="../static/vendor/php-email-form/validate.js"></script>
<script src="../static/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="../static/vendor/counterup/counterup.min.js"></script>
<script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../static/vendor/venobox/venobox.min.js"></script>
<script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>


  <!-- Template Main JS File -->
  <!-- <script src="../static/js/main.js"></script> -->
  <script src="../static/js/athletesdata.js"></script>

</body>

</html>