<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gender and the Olympics</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

<!-- Icon -->
<link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
<link rel="manifest" href="../static/vendor/site.webmanifest">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="../static/vendor/venobox/venobox.css" rel="stylesheet">
<link href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

<!-- High Charts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

  <!-- Template Main CSS File -->
  <link href="../static/css/gender.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.1.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <a href=" / "> <img src="../static/images/olympic_icon.png"></a>


        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href='/'>Home</a></li>
          <li class="active"><a href='/#summary'>Summary</a></li>
          <li class="active"><a href='/#visuals'>Visuals</a></li>
          <li class="drop-down"><a href="">Comparison</a>
            <ul>
              <li><a href="/gender">Gender</a></li>
              <li><a href="/medals">Medals</a></li>
              <li><a href="/sports">Sports</a></li>
            </ul>
          </li>
          <li class="active"><a href="/athletesdata">Data</a></li>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">


    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>A Look At Gender and the Olympics</h2>
          <ol>
            <li><a href='/'>Home</a></li>
            <li>Gender</li>
          </ol>
        </div>

      </div>
      
    </section><!-- End Breadcrumbs -->

 

    <div id="container" class="col-md-8 mx-auto" style="width:100%; height:500px;">
    </div>

    <!-- ======= Project Analysis Section ======= -->
    <section id="summary" class="summary">
      <div class="container">
        <div class="section-title">
          <h5><u>Summer Olympics</u></h5>
          <p>
            Women competed in the Olmypics for the first time in the Summer Games of 
            1900 with a total of 23 female athletes competing across 5 different sports: Croquet,
            Equestrianism, Golf, Sailing and Tennis. That year they brought home 13 medals: 4 Gold,
            4 Silver and 5 Bronze.
          </p><br />
          <p>
            That first year they made up less than 2% of all athletes, but over time their numbers
            have steadily increased and in 2016 they made up about 45% of total competitors and 
            participated in 34 different sports.
          </p><br />
          <p>
            The number of male athletes competing has also increased steadily from only 176 in 
            1896 to 6129 in 2016 across 32 different sports.
          </p>
        </div>
      </div>
    </section>
    <!-- End Project Analysis Section -->

    <hr>
    <div id="w-container" class="col-md-8 mx-auto" style="width:100%; height:500px;">
    </div>
     <!-- ======= Project Analysis Section ======= -->
     <section id="summary" class="summary">
      <div class="container">
        <div class="section-title">
          <h5><u>Winter Olympics</u></h5>
          <p>
            In the Winter Olympics in 1924, only 13 women participated (4%), all of which competed
            in Figure Skating (both Mixed Pairs and Women's Singles). Their numbers steadily
            increased and by 2014 they made up 40% of all participants across 14 different sports.
          </p><br />
          <p>
            The number of male athletes competing has similarly increased over the years and by
            2014 their participation grew from 300 men competing across 10 sports to 1643 across 15
            sports.
          </p>
        </div>
      </div>
    </section>
    <!-- End Project Analysis Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

  <div class="mr-md-auto text-center text-md-left">
    <div clsass="copyright">
      Charts and Analysis: The Lofty Flying Llamas<br/>
      Data Source: <a href="https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/home">120 Years of Olympic History</a><br />
      &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
  <div class="social-links text-center text-md-right pt-3 pt-md-0">
    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
  </div>
</div>
</footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/vendor/counterup/counterup.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/venobox/venobox.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

  <!-- Template Main JS File -->
  <!-- <script src="../static/js/main.js"></script> -->
  <script src="../static/js/gender.js"></script>

</body>

</html>